table {background-color: lightgrey;}

table {border-style: solid;border-color: black;border-width: 2px;}
table{text-align: center;}

table {border: 1px solid;}
table {padding: 10px;x;}
    
    table {margin-top: 100px;
        margin-bottom:100px;
        margin-right: 100px;
        margin-left: 100px;} 